@keyframes slideInFromPaper {
    0% {
      transform: translateX(-80%) rotate(15deg); /* Start off-screen to the left */
      opacity: 0;
    }
    50% {
      transform: translateX(0) rotate(0deg); /* Move to its final position */
      opacity: 0.6;
    }
    100% {
      transform: translateX(0) rotate(0deg); /* Final position */
      opacity: 1;
    }
  }
  

  /* file.css */

  @keyframes scrollHeadline {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scroll-container {
    width: 100%;
    overflow: hidden; /* Prevents horizontal scroll */
    white-space: nowrap; /* Prevents text from wrapping */
    position: relative; /* Keeps text inside */
  }
  
  .scroll-text {
    display: inline-block;
    animation: scrollHeadline 12s linear infinite;
    white-space: nowrap;
  }
  

  .carousel-image {
    height: auto;
    width: 310px;
    transition: all 0.5s ease;
    border-radius: 12px;
    opacity: 0.6;
    transform: scale(0.6) perspective(1000px) rotateY(0deg);
  }
  
  .carousel-image.center {
    transform: scale(1) perspective(1000px) rotateY(0deg);
    opacity: 1;
    z-index: 2;
  }
  
  .carousel-image.left {
    transform: scale(0.6) perspective(1000px) rotateY(-45deg) translateZ(-100px);
    opacity: 0.6;
    z-index: 1;
    
  }
  
  .carousel-image.right {
    transform: scale(0.6) perspective(1000px) rotateY(45deg) translateZ(-100px);
    opacity: 0.6;
    z-index: 1;
  }
  .carousel-image:hover {
    opacity: 1;
  }
  
  .carousel-image.center:hover {
    opacity: 1;
  }
  
  
  /* Responsive */
  @media screen and (max-width: 900px) {
    .carousel-image {
      width: 160px;
      height: auto;
      
    }
  }
  